
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 10px 20px;
    height: 40px;
    border: 2px solid var(--btn-color);
    color: var(--btn-color);
    background-color: var(--color);
    transition: .5 ease-in-out;
}

.btn:focus{
    outline: none;
    cursor: pointer;
}

.btn span{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.btn i{
    padding: 10px 10px 8px 5px;
    color: var(--btn-color);
    font-size: 20px;
}

.countItems{
    border-radius: 50%;
    background-color: var(--btn-border-color);
    padding: 5px;
    margin: 0 10px;
    width: 25px;
    height: 25px;
    font-family: Mulish;
    font-weight:400;
    font-size: 1rem;
    color: var(--word);
    display:flex;
    align-items: center;
    justify-content:center;
}

.order{
    font-size: 1.2rem;
}

.cart{
    color: var(--btn-border-color);
    margin: 0 10px;
}