.navHeader{
    display: flex;
    justify-content: space-between;
    padding: 5px 40px;
    align-items: center;
    width: 100%;
}
.logo{
    color: var(--accent-2-color);
    list-style: none;
    text-decoration: none;
    margin-left: 40px;
}
.rightNav{
    width: 100%;
}
.nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}


.rightNav .nav .navLinks {
    justify-self: center;
    margin-right:0%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.rightNav .nav .navLinks .link {
    color: rgb(217, 217, 217);
    padding: 10px 20px;
    text-decoration: none;
    list-style: none;
    font-weight: 200;
}

.navAuth{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
}

.navAuth .link{
    padding: 0 10px;
}

@media(max-width:1000px){
    .nav {
        text-align: left;
        width: 100%;
        display: block;
        justify-content: flex-start;
    }
    .navLinks {
        width: 80vw;
        justify-content:flex-start;
        display: block;
        margin: 10px 5px;
    }


    .links {
        padding: 10px 0px;
    }
}
