
.pop__container{
    width: 300px;
    height: 200px;
    border-radius: 10px;
    background-color: #fff;
}

.pop__wrapper{
    display: flex;
    justify-items: center;
}

.pop__title{
    height: 100px;
    width: 100%;
}
.pop__title h2{
    color:var(--primary-color);
}
.pop__content{
    text-align: center;
    font-size: .9rem;

}
