
.contact__container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width:100%;
    border-radius: 10px;
    top: 20px;
}
.contact__wrapper{
    display: flex;
    gap: 10px;
    flex-direction: column;
    background-color: var(--header-color);
    padding: 40px;
    border-radius: 20px;
    border: 1px solid var(--header-color)
}

.contact__box{
    display:grid;
    grid-template-columns: 2fr 8fr;
}

.contact__box p{
    font-size: 1.2rem;
    color:var(--word-color);
    font-family: Poppins;
    font-weight:200;
}

.contact__box i{
    color: var(--primary-color);
}
.backdrop{
    background-image: linear-gradient(90deg, #f3ecef 0%, #fbecf2 90%); 
    background-color: var(--btn-border-color);
    position: absolute;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.2);
    left: -10px;
    top: -10px;
    width: 500px;
    height: 500px;
} 

.imgHolder{
    height: 600px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.container img{
    object-fit: cover;
    height: 100%;
    z-index: 10;
}
