.formContainer{
    width: 800px;
    height: 600px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: var(--background-color);
    border-radius: 20px;
    border: 1px solid var(--header-color);
    box-shadow: 0.2px 5px 5px rgba(0, 0, 0, 0.1);
}

.formContainer h2{
    font-size: 1.6rem;
    font-weight: 400;
    font-family: Poppins;
    text-align: center;
    color:var(--primary-color)
}

.formContainer .subtitle{
    text-align: center;
    margin-bottom: 20px;
}

.formContainer input{
    border: 2px solid var(--header-color);
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    font-size: .9rem;
    font-weight: 300;
}

.formContainer textarea {
    padding: 20px;
    width: 100%;
    height: 100%;
}

.formContainer input:focus{
    outline:none;
    border: 1px solid var(--primary-color);
    background-color: #fff
}
.form__input__container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}
.form__input__container label{
    padding:0;
    margin-left: 5px;
    color: var(--text-color);
    font-size:.9rem;
    font-weight: 300;
    padding: 5px;
}
.form__checkbox__container{
    padding: 10px;
    border: 1px solid var(--header-color);
    border-radius: 10px;
    margin: 20px 0;
}
.form__checkbox__wrapper{
    display: flex;
    flex-direction: row;
    width: 600px;
}

.input__container{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 10px 0;
}

.checkbox__container{
    width: 100%;
    align-items: center;
}

.checkbox__wrapper{
    display: grid;
    grid-template-columns: 2fr 8fr;
    align-items: center;
    justify-content: center

}
.checkbox__wrapper p{
    color: var(--text-color);
    font-family: Poppins;
    font-weight: 300;
    font-size: .9rem;
}
.checkbox__title{
    margin-bottom:5px;
}
.btnHolder{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnHolder button{
    font-size: 1rem;
    border: 1px solid var(--header-color);
    background-color: var(--primary-color);
    color: var(--background-color);
    border-radius: 10px;
    padding: 15px 20px;
    width: 100%;
}

.btnHolder button:hover{
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    cursor: pointer;
}