.navHeader{
    display: flex;
    justify-content: space-between;
    padding: 5px 40px;
    align-items: center;
    width: 100%;
}
.logo{
    list-style: none;
    text-decoration: none;
    margin-left: 40px;
}

.logo img{
    width: 200px;
    object-fit: cover;
}
.rightNav{
    width: 100%;
}
.nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}


.rightNav .nav .navLinks {
    justify-self: center;
    margin-right:0%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.rightNav .nav .navLinks .link{
    color: var(--nav-color);
    padding: 10px 20px;
    font-size: 1rem;
    font-family: Poppins;
    text-decoration: none;
    list-style: none;
    font-weight: 300;
}

.rightNav .nav .navLinks .link.nav:hover {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.navAuth{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
}



.rightNav .nav .navLinks .link.demo{
    color: white;
    background-color: var(--primary-color);
    width: 170px;
    padding: 15px 10px;
    display:flex;
    border-radius: 10px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 1rem;
    justify-content:center;
    align-items: center;
}

.rightNav .nav .navLinks .link.login{
    border: 2px solid var(--primary-color);
    width: 100px;
    margin-left:20px;
    padding: 5px 10px;
    display: flex;
    border-radius: 10px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
}
@media(max-width:1000px){
    .nav {
        text-align: left;
        width: 100%;
        display: block;
        justify-content: flex-start;
    }
    .navLinks {
        width: 80vw;
        justify-content:flex-start;
        display: block;
        margin: 10px 5px;
    }


    .links {
        padding: 10px 0px;
    }
}
