
.analytics__container{
    width:100vw;
    margin:0 auto;
    height: 100%;
}
.analytics__wrapper{
    width:100%;
    padding:40px;
    background-color:var(--background-color)
}
.analytics__outer_wrapper{
    max-width: 1000px;
    background-color: white;
}

.analytics__inner_wrapper {
    display: grid;
    grid-template-columns: 8fr 2fr;
}