
.analytics__container{
    width:100vw;
    margin:0 auto;
    height: 100%;
}

.analytics__outer_wrapper{
    max-width: 1000px;
}

.analytics__inner_wrapper {
    display: grid;
    grid-template-columns: 8fr 2fr;
}