
.header{
    background-color: var(--header-color);
    display: flex;
    justify-content: space-between;
    padding: 5px 40px;
    align-items: center;
    position: relative;
    width: 100%;
}

.header h1{
    color: var(--color);
}




