.energyHeader__container{
    background-color: red;
    width: 100%;
}

.energyHeader__wrapper {
    /* background-color: white; */
    width: 100vw;
}

#energyHeader__icon{
    background-color:var(--accent-color);
    color: var(--primary-color);
    padding: 10px;
    margin-left:20px;
    border-radius:50%;
    font-size: 2rem;
}
#energyHeader__title{
    color: white;
    padding: 10px;
    font-size: 1.8rem;
}