
.tableFooter{
    background-color: var(--background-color);
    border-top: 1px solid var(--primary-color);
    width: 100%;
    padding: 20px;
}

.tableFooter > tr{
    display:grid;
    grid-template-columns:8fr 2fr;
}

.tableTotal__Title{
    text-align: right;
}

.tableTotal{
    text-align:center;
    font-size:1.6rem; 
}
