
.tableFooter{
    background-color: var(--background-color);
    border-top: 1px solid var(--primary-color);
    width: 100%;
    padding: 20px;
}


.tableTotal__Title{
    text-align: right;
}

.tableTotal{
    text-align:center;
    font-size:1.6rem; 
}

.tableFooter>tr {
    display: grid;
    grid-template-columns: 3fr 7fr 2fr;
}

.totalFooter .numOfAppliance{
    color: var(--accent-color);
    text-decoration:underline;
    border-bottom: 2px solid var(--accent-color);
}